body {
    margin: 0;
    padding: 0;
}

header img {
    border-radius: 50%;
    width: 150px;
}

aside {
    box-sizing: border-box;
    float: left;
    position: fixed;
    width: 30%;
}

aside header {
    margin: 0;
    padding: 20px 0 20px 0;
    line-height: 10px;
    text-align: center;
}

main {
    width: 70%;
    margin-left: 30%;
    /* background: url(images/paper.jpg) top left repeat-y;*/
    background-size: contain;
}

main section {
    padding: 25px;
}

main section h4 {
    line-height: 25px;
}

nav a {
    text-decoration: none;
    color: #111111;
    display: block;
}

nav a:hover {
    background-color: #d3b486;
}

nav a::visited {
    color: #111111;
}

nav a p {
    line-height: 50px;
    margin: 0;
}

h1, h2, h3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    text-align: center;
    padding-bottom: 15px;
    margin: 0;
}

h4, h5, p {
    font-family: Consolas, monaco, monospace;
    padding-left: 15px;
    margin: 0;
}

h5, p {
    font-size: 16px;
}

h4 {
    font-weight: bold;
}

h5 {
    font-weight: normal;
    line-height: 25px;
}

li {
    list-style: none;
}

li:nth-child(odd) {
    background-color: #d3b486;
}

.social-icon {
  background: url(images/social.png) no-repeat;
  height: 100px;
  width: 100px;
  overflow: hidden;
  display: block;
}

.twitter:hover {
  background-position: -100px 0;
}

.email {
  background-position: 0 -100px;
}

.email:hover, .email:focus {
  background-position: -100px -100px;
}

.linkedin {
  background-position: 0 -200px;
}

.linkedin:hover, .linkedin:focus {
  background-position: -100px -200px;
}

.unhide {
    margin-left: 30%;
}
